{% extends 'core/base.html' %} 
{% load static %} 
{% block title %}Contact{% endblock title %}

<main id="main">
  {% block Breadcrumbs %}
  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div
      class="page-header d-flex align-items-center"
      style="background-image: url('VisitorAssets/img/page-header.jpg')"
    >
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Contact</h2>
            <p>You can contact us. Your feedback means a lot for us.</p>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="container">
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Contact</li>
        </ol>
      </div>
    </nav>
  </div>
  <!-- End Breadcrumbs -->

  {% endblock Breadcrumbs %} {% block Contact %}
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3376.5150369539515!2d74.15040847469265!3d32.19034987391436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391f2916d2863087%3A0x5f782204afdc2622!2sUniversity%20Of%20The%20Punjab%20-%20Gujranwala%20Campus!5e0!3m2!1sen!2s!4v1683431268385!5m2!1sen!2s"
          width="97%%"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>

      <div class="row gy-4 mt-4">
        <div class="col-lg-4">
          <div class="info-item d-flex">
            <i class="bi bi-geo-alt flex-shrink-0"></i>
            <div>
              <h4>Location:</h4>
              <p>PUGC alipur chok Gujranwala, Punjab Pakistan</p>
            </div>
          </div>
          <!-- End Info Item -->

          <div class="info-item d-flex">
            <i class="bi bi-envelope flex-shrink-0"></i>
            <div>
              <h4>Email:</h4>
              <p>usmanjavaid227@gmail.com</p>
            </div>
          </div>
          <!-- End Info Item -->

          <div class="info-item d-flex">
            <i class="bi bi-phone flex-shrink-0"></i>
            <div>
              <h4>Call:</h4>
              <p>+92 3152832323</p>
            </div>
          </div>
          <!-- End Info Item -->
        </div>
        <div class="col-lg-8">
          <form method="post" novalidate class='shadow px-5 pb-5' action="">
            {% csrf_token %} 
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-success">{{ message }}</div>
                {% endfor %}
             {% endif %}
            {% for field in form %}
            <div class="form-group">
              <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field }}
              {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %} 
              {% for error in field.errors %}
              <div class="invalid-feedback">{{ error }}</div>
              {% endfor %}
            </div>
            {% endfor %}
          
            <div class="text-center">
              <input type="submit" class="btn mt-4" style="width: 200px; background-color: #03ef62; color:#fff; font-weight:600" value="Send">
            </div>
          </form>
          
        </div>
        <!-- End Contact Form -->
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
  {% endblock Contact %}
</main>
<!-- End #main -->
