{% extends 'core/userbase.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="userindex.html">Home</a></li>
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    {% block Profile_Section %}
    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">
              <div class="card">
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}

                  <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              
                      {% if user.profile.image %}
                          <img src="{{ user.profile.image.url }}" alt="Profile" class="rounded-circle">
                      {% else %}
                          <img src="{% static "core/UserAssets/img/profile-img.jpg" %}" alt="Profile" class="rounded-circle">
                      {% endif %}
              
                      <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                      <h3>{{ user.profile.destination }}</h3>
              
                      <div class="social-links mt-2">
                          {% if user.profile.linkedin_url %}
                              <a href="{{ user.profile.linkedin_url }}" class="linkedin"><i class="bi bi-linkedin"></i></a>
                          {% endif %}
                      </div>
                  </div>
                </form>
              </div>
          </div>
          
    
        

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

               

                <li class="nav-item">
                  <button class="nav-link"  data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                <button type="button" class="btn btn-danger m-1 mx-5"><a class="text-white"  href={% url 'passwordchange' %}>  Change Password</a></button>             
                 </li>
                

              </ul>
              
                       

          <div class="tab-pane  profile-edit pt-3 active" id="profile-edit">

                <!-- Profile Edit Form -->
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="row mb-3">
                    <label for="image" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                    <div class="col-md-8 col-lg-9">
                      {% if user.profile.image %}
                        <img src="{{ user.profile.image.url }}" alt="Profile">
                      {% else %}
                        <img src="{% static 'core/UserAssets/img/profile-img.jpg' %}" alt="Profile">
                      {% endif %}
                      <div class="pt-2">
                        <input type="file" name="image" id="image">
                      </div>
                    </div>
                  </div>
              
                  <div class="row mb-3">
                    <label for="username" class="col-md-4 col-lg-3 col-form-label">Username</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="username" type="text" class="form-control" id="username" value="{{ user.username }}">
                    </div>
                  </div>

              
                  <div class="row mb-3">
                    <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="email" type="email" class="form-control" id="email" value="{{ user.email }}">
                    </div>
                  </div>
              
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Country</div>
                    <div class="col-lg-9 col-md-8">
                        <select name="country" class="form-control">
                            {% for code, name in userprofile.country.field.choices %}
                                <option value="{{ code }}" {% if code == userprofile.country.value %}selected{% endif %}>{{ name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
              
                  <div class="row mb-3">
                    <label for="address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="address" type="text" class="form-control" id="address" value="{{ user.profile.address }}">
                    </div>
                  </div>
              
                  <div class="row mb-3">
                    <label for="phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="phone" type="text" class="form-control" id="phone" value="{{ user.profile.phone }}">
                    </div>
                  </div>
              
                  <div class="row mb-3">
                    <label for="linkedin_url" class="col-md-4 col-lg-3 col-form-label">Linkedin Profile</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="linkedin_url" type="text" class="form-control" id="linkedin_url" value="{{ user.profile.linkedin_url }}">
                    </div>
                  </div>
              
                  <div class="row mb-3">
                    <label for="bio" class="col-md-4 col-lg-3 col-form-label">Bio</label>
                    <div class="col-md-8 col-lg-9">
                      <textarea name="bio" class="form-control" id="bio" rows="5">{{ user.profile.bio }}</textarea>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="Dream_Job" class="col-md-4 col-lg-3 col-form-label">Dream Job</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="Dream_Job" type="text" class="form-control" id="Dream_Job" value="{{ user.profile.Dream_Job }}">
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="destination" class="col-md-4 col-lg-3 col-form-label">Destination</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="destination" type="text" class="form-control" id="destination" value="{{ user.profile.destination }}">
                    </div>
                  </div>
                  
                  <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>

              </div><!-- End Profile Edit Form -->
              
            </div>
          </div>
        </div><!-- End Bordered Tabs -->
      </div>  
    </div>
  </section>
{% endblock Profile_Section %}


  </main><!-- End #main -->

  
