<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - {% block title %}title{% endblock title %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static "core/UserAssets/img/favicon2.ico" %}" rel="icon">
  <link href="{% static "core/UserAssets/img/apple-touch-icon.png" %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static "core/UserAssets/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "core/UserAssets/vendor/bootstrap-icons/bootstrap-icons.css" %}" rel="stylesheet">
  <link href="{% static "core/UserAssets/vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
  <link href="{% static "core/UserAssets/vendor/quill/quill.snow.css" %}" rel="stylesheet">
  <link href="{% static "core/UserAssets/vendor/quill/quill.bubble.css" %}" rel="stylesheet">
  <link href="{% static "core/UserAssets/vendor/remixicon/remixicon.css" %}" rel="stylesheet">
  <link href="{% static "core/UserAssets/vendor/simple-datatables/style.css" %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static "core/UserAssets/css/style.css" %}" rel="stylesheet">

</head>
<body>

<main id="main" class="main">
{% block content %}{% endblock content %}
{% block Header_Section %}
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href={% url 'userindex' %} class="logo d-flex align-items-center">
        <img src="{% static "core/UserAssets/img/logo.svg" %}"  alt="">
        <span class="d-none d-lg-block" style="font-family: 'Inter', sans-serif; font-size: 30px; font-weight: 700;">INTRAVIEWER</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i> 
    </div><!-- End Logo -->

   {% block welcome %}
   {% endblock welcome %}
   
    <nav class="header-nav ms-auto px-3">
      <ul class="d-flex align-items-center">
      <div class='logout'>
        <li  class="text-dark ">
          <a href={% url 'logout' %}>
            <i class="bi bi-box-arrow-right px-2"></i><spa style="font-size: 16px;">Logout</span>
          </a>
        </li>
      </div>

      </ul>
    </nav><!-- End Header Nav -->

  </header><!-- End Header -->
{% endblock Header_Section %}

{% block Sidebar %}
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item" >
        <a class="nav-link collapsed" href={% url 'userindex' %}>
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href={% url 'interview' %} >
          <i class="bi bi-person-bounding-box"></i>
          <span>Take Interview</span>
        </a>
      </li><!-- Interview Page Nav -->


      <!-- <li class="nav-heading">Pages</li> -->

      <li class="nav-item">
        <a class="nav-link collapsed" href={% url 'userprofile' %}>
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" href={% url 'history' %}>
          <i class="bi bi-exclamation-circle"></i>
          <span>History</span>
        </a>
      </li><!-- History Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->
{% endblock Sidebar %}


{% block Dashboard %}{% endblock Dashboard %}
{% block Interview %}{% endblock Interview %}
{% block Profile_Section %}{% endblock Profile_Section %}
{% block history %}{% endblock history %}




</main>


  
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>INTRAVIEWER</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static "core/UserAssets/vendor/apexcharts/apexcharts.min.js" %}"></script>
  <script src="{% static "core/UserAssets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "core/UserAssets/vendor/chart.js/chart.min.js" %}"></script>
  <script src="{% static "core/UserAssets/vendor/echarts/echarts.min.js" %}"></script>
  <script src="{% static "core/UserAssets/vendor/quill/quill.min.js" %}"></script>
  <script src="{% static "core/UserAssets/vendor/simple-datatables/simple-datatables.js" %}"></script>
  <script src="{% static "core/UserAssets/vendor/tinymce/tinymce.min.js" %}"></script>
  <script src="{% static "core/UserAssets/vendor/php-email-form/validate.js" %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static "core/UserAssets/js/main.js" %}"></script>

</body>

</html>