{% extends 'core/userbase.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}

  <main id="main" class="main">

   

    {% block Profile_Section %}
    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">
              <div class="card">
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}

                  <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              
                      {% if user.profile.image %}
                          <img src="{{ user.profile.image.url }}" alt="Profile" class="rounded-circle">
                      {% else %}
                          <img src="{% static "core/UserAssets/img/profile-img.jpg" %}" alt="Profile" class="rounded-circle">
                      {% endif %}
              
                      <h2>{{ user.username }}</h2>
                      <h3>{{ user.profile.destination }}</h3>
              
                      <div class="social-links mt-2">
                          {% if user.profile.linkedin_url %}
                              <a href="{{ user.profile.linkedin_url }}" class="linkedin"><i class="bi bi-linkedin"></i></a>
                          {% endif %}
                      </div>
                  </div>
                </form>
              </div>
          </div>
          
    
        

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

               

                <li class="nav-item">
                  <button class="nav-link"  data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                <button type="button" class="btn btn-danger m-1 mx-5"><a class="text-white"  href={% url 'passwordchange' %}>  Change Password</a></button>             
                 </li>
                

              </ul>
              
                       

          <div class="tab-pane  profile-edit pt-3 active" id="profile-edit">

                <!-- Profile Edit Form -->
                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% if messages %}
                  {% for message in messages %}
                      <div class="alert alert-{{message.tags}} mb-5" role="alert">
                          {{message}}
                      </div>
                  {% endfor %}
              {% endif %}
                  {{ userprofile.as_p }}
                  {{ profileform.as_p }}
                  <button type="submit" class="btn btn-primary">Save changes</button>
              </form>
              

              </div><!-- End Profile Edit Form -->
              
            </div>
          </div>
        </div><!-- End Bordered Tabs -->
      </div>  
    </div>
  </section>
{% endblock Profile_Section %}


  </main><!-- End #main -->

  
