{% extends 'core/userbase.html' %}
{% load static %}
{% block title %}Index{% endblock title %}
{% block welcome %}
 {% comment %} welcome message to user {% endcomment %}
 <div class="container text-center mt-2 w-50">
  <div class="alert alert-success" role="alert" id="welcome-message">
      <i class="bi bi-person-check px-3" style="font-size: 24px;"></i> Welcome {{ request.user.username }}
  </div>
</div>  
<script>
setTimeout(function(){
  document.getElementById("welcome-message").style.display = "none";
}, 1000);
</script> 
</div>
{% comment %} end welcome {% endcomment %}
{% endblock welcome %}

  <main id="main" class="main">

   
{% block Dashboard %}
    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

                    <!--  Card -->
                    <div class="col-xxl-4 col-xl-12">

                      <div class="card info-card customers-card">
        
        
                        <div class="card-body">
                          <h5 class="card-title">User <span>| info</span></h5>
        
                          <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-people"></i>
                            </div>
                            <div class="ps-3">
                              <h6>{{ request.user.username }}</h6>
                              <span class="text small pt-1 fw-bold">{{request.user.designation}}</span> <span class="text-muted small pt-2 ps-1">{{request.user.email}}</span> 
                               <span class="text-muted small pt-2 ps-1">{{request.user.linkedin_url}}</span>
        
                            </div>
                          </div>
        
                        </div>
                      </div>
        
                    </div><!-- End  Card -->

                <!--  Card -->
                <div class="col-xxl-4 col-md-6">
                  <div class="card info-card sales-card">


                    <div class="card-body">
                      <h5 class="card-title">Interview <span>| Total</span></h5>

                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                          <i class="bi bi-person-bounding-box"></i>
                        </div>
                        <div class="ps-3">
                          <h6>{{ total_interview }}</h6>
                          {% comment %} <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">Improvement</span> {% endcomment %}

                        </div>
                      </div>
                    </div>

                  </div>
                </div><!-- End  Card -->

              <!--  Card -->
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card revenue-card">


                  <div class="card-body">
                    <h5 class="card-title"> Last Interview <span>| Date </span></h5>

                    <div class="d-flex align-items-center">
                      <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-calendar2-check-fill calendar2-check-fill"></i>
                      </div>
                      <div class="ps-3">
                        <h6>{{ analysis.created_at.time }}</h6>
                        <span class="text-success small pt-1 fw-bold">{{ analysis.created_at.date }}</span> 

                      </div>
                    </div>
                  </div>

                </div>
              </div><!-- End  Card -->





            <!-- Interviews  -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                
                <div class="card-body">
                  <h5 class="card-title">Interview Results <span>| Total</span></h5>

                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">User</th>
                        <th scope="col">Video File</th>
                        <th scope="col">Created At</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for interview in interviews %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ interview.user }}</td>
                        <td><a href="{{ interview.video_file.url }}">{{ interview.video_file.name }}</a></td>
                        <td>{{ interview.created_at }}</td>
                       
                      {% empty %}
                      
                      {% endfor %}
                    </tbody>
                  </table>

                </div>

              </div>
            </div><!-- End -->

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Recent Activity -->
          

            <div class="card-body">
              <h5 class="card-title">Recent Activity <span></span></h5>
              <div class="activity">

                <div class="activity-item d-flex">
                  <div class="activite-label">32 min</div>
                  <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                  <div class="activity-content">
                    You Take <a href="#" class="fw-bold text-dark"> Interview</a> 3rd in a Day
                  </div>
                </div><!-- End activity item-->

              </div>
            </div>
          </div><!-- End Recent Activity -->
        
        </div><!-- End Right side columns -->

      </div>
    </section>
{% endblock Dashboard %}


  </main><!-- End #main -->

