{% extends 'users/base.html' %}
{% block title %} Password-Reset-Complete{% endblock title %} Password-Change-Done
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card card-body mt-5">
                <h2 class="text-center">Password Reset Complete</h2>
                <center>      
                  <iframe src="https://giphy.com/embed/MelhioWPAo6k4Q6BTp" width="200" height="200" frameBorder="0" class="giphy-embed center" allowFullScreen></iframe>
                </center>
                 <a href="{% url 'login' %}" class="btn btn-primary btn-block">Login</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
