{% extends 'users/base.html' %}
{% block title %} Password-Reset-Confirm{% endblock title %} Password-Change-Done
{% load static %}

{% block content %}

<div class="container">
    <div class="row my-3">
        <div class="col-md-6 mx-auto sm-6">
            <div class=" mt-5">
                <h2 class="text-center">Password Reset Confirm</h2>
                <hr>
                <form method="post" novalidate class='shadow p-5' action="">
                    <div class="d-flex justify-content-center">
                        <img src="{% static "users/img/logo.svg" %}" alt="" style="height: 80px; width: 80px;">
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{message.tags}} mb-5" role="alert">
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                    
                    {% csrf_token %}
                    {% for fm in form %}
                    <div class='form-group mb-3'>
                      {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                    {% endfor %}
                    </div>
                    <input type="submit" class="btn btn-primary" value="Confirm">
                    <br>
                    
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger my-3" role="alert">
                                {{error}}
                            </div>
                        {% endfor %}
                    
                    {% else %}
                    {% endif %}
                </form>
                  
            </div>
        </div>
    </div>
</div>
    
{% endblock content %}
    