{% extends 'users/base.html' %}
{% block title %} Password-Reset-Done{% endblock title %} Password-Change-Done
{% load static %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card card-body mt-5">
                <h2 class="text-center">Password Reset Done</h2>
                <p class="text-center">An email has sent with instructions to reset your password.</p>
                <b>Chech Your Mail!!</b>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
